<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="interdroid.vdb" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<permission android:name="interdroid.vdb.permission.READ_DATABASE"
		android:label="@string/perm_read_database" android:description="@string/perm_read_database_desc"
		android:protectionLevel="dangerous" />

	<permission android:name="interdroid.vdb.permission.WRITE_DATABASE"
		android:label="@string/perm_write_database" android:description="@string/perm_write_database_desc"
		android:protectionLevel="dangerous" />

	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />

		<provider android:name="interdroid.vdb.content.VdbMainContentProvider"
			android:authorities="interdroid.vdb.content" android:readPermission="interdroid.vdb.permission.READ_DATABASE"
			android:writePermission="interdroid.vdb.permission.WRITE_DATABASE">
		</provider>

		<provider android:name="interdroid.vdb.sm.provider.AvroSchemaProvider"
			android:authorities="interdroid.vdb.content.avro.schemas" />

		<activity android:name="interdroid.vdb.avro.view.AvroDBMaker">
			<intent-filter>
				<action android:name="interdroid.vdb.INIT_DB" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/vnd.interdroid.vdb.content.avro.schemas.Record" />
			</intent-filter>
		</activity>

		<activity android:name="interdroid.vdb.avro.view.UseCamera"
			android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.media.action.IMAGE_CAPTURE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="interdroid.vdb.avro.view.LocationPicker"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.actions.PICK_LOCATION" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


		<activity android:name="interdroid.vdb.avro.view.AvroBaseEditor">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/branch.local" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/branch.local" />
			</intent-filter>
		</activity>

		<activity android:name="interdroid.vdb.avro.view.AvroBaseList">
			<!-- TODO: The intents launched for these should have additional information
				on the type -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/branch.local" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/branch.remote" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/commit" />
			</intent-filter>
		</activity>

		<service android:name=".persistence.ui.GitService">
			<intent-filter>
				<action android:name="interdroid.vdb.GIT_SERVICE" />
			</intent-filter>
		</service>

		<service android:name=".content.avro.AvroRegistryService">
			<intent-filter>
				<action android:name="interdroid.vdb.REGISTER_SCHEMA" />
			</intent-filter>
		</service>

		<activity android:name=".persistence.ui.RevisionPicker">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.CommitActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.COMMIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/branch.local" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManageLocalBranchesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_LOCAL_BRANCHES" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.AddBranchActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.ADD_BRANCH" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<!-- <activity android:name=".persistence.ui.AddRemoteActivity"> <intent-filter>
			<action android:name="interdroid.vdb.action.ADD_REMOTE" /> <category android:name="android.intent.category.DEFAULT"
			/> <data android:mimeType="vnd.interdroid.vdb.content/repository" /> </intent-filter>
			</activity> -->

		<activity android:name=".persistence.ui.EditRemoteActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.ADD_REMOTE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<action android:name="interdroid.vdb.action.EDIT_REMOTE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/remote" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManageRepositoryActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_REPOSITORY" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManageRepositoryPropertiesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_REPOSITORY_PROPERTIES" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManageRemotesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_REMOTES" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.interdroid.vdb.content/repository" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManagePeersActivity">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/interdroid.vdb.persistence.content.peer" />
			</intent-filter>
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_PEERS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.TestActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.TEST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.EditPeerActivity">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/interdroid.vdb.persistence.content.peer" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.EditPeerDetailsActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_PEER_INFO" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/interdroid.vdb.persistence.content.peer" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.EditLocalSharedRepositoriesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_LOCAL_SHARING" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/interdroid.vdb.persistence.content.peer" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.EditRemoteSharedRepositoriesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_REMOTE_SHARING" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/interdroid.vdb.persistence.content.peer" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.VdbPreferences"
			android:label="@string/title_preferences">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_PREFERENCES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.ManageRepositoriesActivity">
			<intent-filter>
				<action android:name="interdroid.vdb.action.MANAGE_REPOSITORIES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".persistence.ui.Raven" android:label="@string/title_raven">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
</manifest>
